 [Unit]
 Description=Temperature LED lights up
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/pi/LED/templed.py

 [Install]
 WantedBy=multi-user.target